<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- NOTE: defer keyword postpones the execution of a script until later -->
</head>

<body>
    <h1 id="title">This is the project's html file</h1>

    <p>
        Say hello to
        <input id="name" type="text">
        <button>Say it!</button>
    </p>

    <ul>
        <li>Item 1</li>
        <li class="list-item">This is an item number 2</li>
        <li class="list-item">Item 3</li>
        <li class="list-item">Item 4</li>
    </ul>

    <h1 id="testing">Testing</h1>
    <h2 id="element">This is some element</h2>
    <script type="text/javascript" src="/static/js/project/script.js"></script>

    <div id="content"></div>

    <script>
        console.log("before parsing html file");
        parseHtmlFile();
        console.log("after parsing html file");
    </script>
</body>
</html>