<!DOCTYPE html>
<html lang="en">

<head>
    <title> {{Title}} </title>
    <meta charset="utf-8">
</head>

<body>
    <main>
        <div id="overview">
            <h1>HTML & javascript are crucial technologies</h1>
            <p>The web won't work without them...</p>
        </div>
        <div id="advantages">
            <ul>
                <li>Flexible</li>
                <li>Awailable</li>
                <li>Extensible</li>
                <li>Magical</li>
                <li>Unknown</li>
            </ul>
        </div>
    </main>

    <h1 id="main-h1-tag">This is the main h1 tag</h1>

    <input type="text", id="test-input-1" class="input-default" value="Enter some text in the box">

    <script>
        const mainHeading = document.querySelector("main");
        console.log(mainHeading);
        console.log(document.getElementById("overview").querySelector("h1"));

        // select the second element in ul
        const ul = document.querySelector("ul");
        const secondAdvantage = ul.querySelector("li");
        console.log(secondAdvantage);

        // select div element with id 'advantages'
        const advDiv = document.getElementById("advantages");
        console.log(advDiv);

        // get body element
        console.log(document.body);

        // document.querySelector(<CSS selector>);
        const mainElement = document.getElementsByTagName("main");
        console.log(mainElement);

        // get text content of the main h1 tag
        const h1 = document.getElementById("main-h1-tag");

        var oldH1TextContent = h1.textContent;

        console.log("text content: " + h1.textContent);
        console.log("id: " + h1.id);

        // How is it possible, h1 is const, no?
        h1.textContent = "New text content";

        h1.textContent = oldH1TextContent;

        console.log(h1.textContent);

        const input = document.getElementById("test-input-1");   
        input.id = "input-new-id";

        console.log(input.id);

        const input2 = document.querySelector("input");
        console.dir(input2);

        input2.value = "My custom value";
        console.log(input2.value);

        input2.setAttribute("value", "some other value");

        input2.value = input2.getAttribute("value") + " custom suffix";

        // using for of loop
        const listeItemElements = document.querySelectorAll("li");

        for (const item of listeItemElements) {
            console.dir(item);
            console.log("item text content: " + item.textContent);
        }

        const el1 = document.getElementById("#test-input-1");
        const el2 = document.getElementById("test-input-1");

        console.log(el1);
        console.log(el2);

    </script>
</body>

</html>